@charset "UTF-8";

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #373b3e;
}

header {
  height: 40px;
  width: 100%;
  background-color: rgba(21,20,32,0.5);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo{
  height: 40px;
  cursor: pointer;
  float: left;
  padding: 0 15px;
}

.header-right{
  cursor: pointer;
  float: left;
}

body {
  color: #b7c1c6;
  background-color: #141319;
  margin: 0;
  min-height: 1vh;
}

div[data-type="MapPanel"] {
  position: absolute;
  display: flex;
  bottom: 2em;
  left: 1em;
  right: 1em;
  justify-content: center;
  min-height: 1.5em;
  min-width: 2em;
}

div[data-type="MapPanel"] > div {
  margin: 0.3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 2.5rem;
  padding: 0.1em;
  background-color: rgba(21,20,32,0.5);
  cursor: pointer;
}

div[data-type="MapPanel"] > div > div {
  margin-top: 0.1em;
  font-family: "Avenir Next", Courier, monospace;
  text-align: center;
  font-size: 60%;
  color: white;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black -1px 0,
black -1px 0 0, black 1px 0 0;
}

div[data-type="MapPanel"] > div > img {
  height: 2.6em;
  opacity: 0.7;
}