<!doctype html>
<html lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <title>地図歩こう</title>
    <%= stylesheet_link_tag "home", media: "all" %>
  </head>
  <body>
    <meta charset="UTF-8">
    <header>
      <div class =container> 
        <div class =header-left>
          <img class="logo" src="assets/logo.jpg">
        </div>
      </div>
    </header>
    <div class="top-wrapper">
        <div class="container">
          <h1>どれだけ</h1>
          <h1>歩いてきただろう</h1>
        </div>
    </div>
    <div class="message-wrapper">
      
    </div>
    <footer>
      <div class="container">
        <h2>①「地図」をクリック</h2>
        <h2>②「Googleでログイン」をクリック</h2>
        <h2>あなたの歩いてきた距離が、地図に表示されます</h2>
      </div>
    </footer> 
  </body>
</html>