<!doctype html>

<html lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <title>index.com</title>
  </head>
  <body>
    <%= link_to "マップ", map_path, class: 'btn btn-default' %>
    <meta charset="UTF-8">
    <script>
    </script> 
  </body>
</html>