<!doctype html>
<html lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <title>地図歩こう</title>
    <%= stylesheet_link_tag "home", media: "all" %>
    <script></script>
  </head>
  <body>
    <meta charset="UTF-8">
    <header>
      <div class =container> 
        <div class =header-left>
          <a href="/map"><img class="logo" src="assets/logo.jpg"></a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
        <div class="container">
          <h1>どれだけ</h1>
          <h1>歩いてきただろう</h1>
        </div>
    </div>

    <footer>
      <div class="container">
        <div class="oneline">
          <h2>①「<a class="maplink" href="/map"> 地図 </a> 」をクリック</h2>
        </div>
        <h2>②「Sign in with Google」をクリック</h2>
        <h2>あなたの歩いてきた距離が、地図に表示されます</h2>
      </div>
    </footer> 
  </body>
</html>