<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/policy.css">
</head>

<body>
  <div id="content">
    <h1>プライバシー・ポリシー</h1>
    <p>当サイトは、以下のとおり個人情報保護方針を定めます。</p>

    <h2>個人情報の利用目的</h2>
    <p>当サイトは、利用者からお預かりした個人情報を、当サイトからの連絡やご質問に対する回答として、電子メールや資料の送付に利用いたします。</p>

    <h2>個人情報の第三者への開示・提供の禁止</h2>
    <p>当サイトは、利用者よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
    <ul><li>利用者の同意がある場合</li>
        <li>利用者が希望されるサービスを行なうために当サイトが業務を委託する業者に対して開示する場合</li>
        <li>法令に基づき開示することが必要である場合</li></ul>

    <h2>ご本人の照会</h2>
    <p>利用者がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>

    <h2>法令、規範の遵守と見直し</h2>
    <p>当サイトは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>

    <p class="end">
      以上
    </p>
  </div>
</body>
</html>