<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VMRunner</title>
    <link rel="stylesheet" href="assets/home.css">
  </head>
  <body>
  
    <div class="header">
      <div class="header-logo">
        <a href="/map"><img class="logo" src="assets/logo.png" alt="VMRunner">VMRunner</a>
      </div>
    </div>

    <div class="main">
      <div class="img-container">
        <img class="phone" src="assets/phone-map.png" alt="VMRunner">
      </div>
      <div class="copy-container">
        <h2>VMRunnerとは</h2>
        <h3>無料で使えるフィットネスアプリです。<br>Google Fitと連携して、移動距離を仮想的にGoogle Mapに表示します。</h3>
      </div>
      <div class="motivation-container">
        <div class="img-container2">
          <div class="motivation-inner">
            <div class="before">
              <img class="people-img" src="assets/thinking.png">
              <p>毎日5km走ってきたけど飽きてきた…</p>
            </div>
            <div class="arrow"><h1>↓</h1></div>
            <div class="after">
              <img class="people-img" src="assets/delight.png">
              <p>あと20kmで北海道縦断だ。<br>今週中に達成しよう！</p>
            </div>
          </div>
        </div>
        <h2>ランニングに<br>新たなモチベーションを</h2>        
      </div>
    </div>    

    <div class="footer">
      <div class="footer-logo">
        <a href="/map"><img class="logo" src="assets/logo-white.png" alt="VMRunner">VMRunner</a>
      </div>
      <div class="footer-list">
        <ul>
          <li><a href="https://chizu-aruko.com/termsofservice/">利用規約</a></li>
          <li><a href="https://chizu-aruko.com/privacypolicy/">プライバシーポリシー</a></li>
        </ul>
      </div>
    </div>

  </body>
</html>