<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="css/map.css">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <div id="gmap" class="gmap" style="width: 100%; height: 100%;"></div>
  <script src="https://www.gstatic.com/external_hosted/jquery2.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&libraries=geometry&callback=initMap" async defer></script>
</head>

<body>
  <meta charset="UTF-8">

  <header>
    <div class =container> 
      <div class =header-right>
        <img class="logo" src="assets/btn_google_signin_light_normal_web.png" onclick="getToken();"/>
      </div>
    </div>
  </header>

  <div data-type="DisPanel">
    <div id='distance'><img src=""><div>0 km</div></div>
  </div>

  <div data-type="MapPanel">
    <div id='demo'><img src="images/logo.png"><div>デモ用の<br>距離取得</div></div>
    <div id='zoom_in'><img src="images/zoom_in.png"><div>Zoom<br>in</div></div>
    <div id='zoom_out'><img src="images/zoom_out.png"><div>Zoom<br>out</div></div>
    <div id='awaji'><img src="images/awaji.png"><div>淡路島<br>ルート</div></div>
    <div id='shikoku'><img src="images/shikoku.png"><div>四国<br>ルート</div></div>
    <div id='japan'><img src="images/japan.png"><div>日本縦断<br>ルート</div></div>
  </div>

  <script src="/javascript/map.js"></script>
  <script src=https://apis.google.com/js/client.js></script>
  <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js></script>
  <script>
    var client_id = '<%= ENV['APLI_CLIANT_ID']%>'
    var scope = ["https://www.googleapis.com/auth/fitness.location.read"];
    var access_token = "";
    
    window.onload = getToken
  </script>

</body>
</html>
